<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="layout(content)">
    <head>
        <meta charset="UTF-8">

        <!-- dynamic title from controller -->
        <title th:text="${title}">User Base Page</title>

        <!--custom css and js-->
        <link rel="stylesheet" th:href="@{/css/style.css}">
        <script th:src="@{/js/script.js}"></script>

        <!--bootstrap css-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
              crossorigin="anonymous">

        <!-- awesome icon -->
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

    <!--nav bar-->
    <nav class="navbar navbar-expand-lg navbar-light bg-nav fixed-top">

        <div class="container-fluid">

            <!--app title-->
            <a class="navbar-brand fw-bold fst-italic fs-4" th:href="@{/}">Smart Contact Manager</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <ul class="navbar-nav ms-auto mb-2 mb-lg-0 text-uppercase fw-medium">

                    <!--home button-->
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/}">Home</a>
                    </li>

                    <!--about button-->
                    <li class="nav-item">
                        <a class="nav-link" href="#">about</a>
                    </li>

                    <!--login button-->
                    <li class="nav-item">
                        <a class="nav-link" href="#"><span th:text="${user.name}"></span></a>
                    </li>

                    <!--logout button-->
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/logout}">logout</a>
                    </li>

                </ul>

            </div>

        </div>

    </nav>
    <!--end navbar-->

    <!-- start body -->
    <body class="user-body">

        <!-- start sidebar  -->
        <div class="sidebar">

            <!-- cross button -->
            <span onclick="toggleSidebar()" class="crossBtn">&times;</span>

            <!-- menu items -->
            <a th:href="@{/user/index}" class="item"><span class="fa fa-home"></span> Home</a>

            <a th:href="@{/user/view-contacts}" class="item"><span class="fa fa-address-book"></span> View Contacts</a>

            <a th:href="@{/user/add-contact}" class="item"><span class="fa fa-edit"></span> Add Contact</a>

            <a th:href="@{/user/profile_page}" class="item"><span class="	fa fa-user-circle-o"></span> Your
                Profile</a>

            <a href="#" class="item"><span class="fa fa-gear"></span> Settings</a>

            <a th:href="@{/logout}" class="item"><span class="fa fa-sign-out"></span> Logout</a>

            <div class="divider"></div>

        </div>
        <!-- end sidebar -->

        <!-- start content area -->
        <div class="content">

            <!-- 3 bar button -->
            <i onclick="toggleSidebar()" class="fa fa-bars m-3 barBtn"></i>

            <!-- error or success message -->
            <div class="col-md-6 offset-md-3 mt-4">

                <!-- message type -->
                <div th:if="${session.msg}" th:classappend="${session.msg.type}"
                     class="alert alert-dismissible fade show" role="alert">

                    <!-- message content -->
                    <strong th:if="${session.msg}" th:text="${session.msg.content}"></strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

                    <!-- remove message attribute from session -->
                    <th:block th:text="${@sessionHelper.removeAttribute('msg')}"></th:block>

                </div>

            </div>
            <!-- end show message -->

            <!--replace other page's data-->
            <div th:replace="${content}"></div>

        </div>
        <!-- end content area -->

        <!--bootstrap js-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
                crossorigin="anonymous"></script>

        <!-- jQuery -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    </body>
</html>