<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{normal/base::layout(~{::section})}">
    <head>
        <meta charset="UTF-8">
        <title>Show Contacts</title>
    </head>

    <body>

        <section>

            <div class="container mt-2">
                <div class="card">

                    <!-- heading -->
                    <div class="card-header text-center">
                        <h3>Your Contacts</h3>
                    </div>

                    <!-- search -->
                    <div class="search-container mx-5 my-3">

                        <!-- search input -->
                        <input onkeyup="search()" type="text" id="search-input"
                               class="form-control" placeholder="Search your contact">

                        <!-- search result -->
                        <div class="search-result"></div>

                    </div>

                    <!-- body -->
                    <div class="card-body">

                        <table class="table text-center">

                            <!-- column name -->
                            <thead>
                                <tr class="text-uppercase">
                                    <th scope="col">#ID</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Phone</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>

                            <!-- contact data -->
                            <tbody>
                                <tr th:each="c: ${contacts}">

                                    <!-- data -->
                                    <th scope="row" th:text="'SCMTK23'+${c.id}"></th>

                                    <!-- image and name -->
                                    <td>
                                        <img th:src="@{'/img/contacts/' + ${c.picture}}"
                                             alt="profile image" class="contact-img">

                                        <span th:text="${c.name}"></span>
                                    </td>

                                    <td th:text="${c.phone}"></td>
                                    <td th:text="${c.email}"></td>

                                    <!-- action buttons -->
                                    <td>
                                        <!-- contact details button -->
                                        <a th:href="@{'/user/contact/' + ${c.id}}" class="btn fs-5">
                                            <span class="fa fa-eye text-primary"></span>
                                        </a>

                                        <!-- update contact button -->
                                        <a th:href="@{'/user/update-contact/'+${c.id}}" class="btn fs-5">
                                            <span class="fa fa-edit text-success"></span></a>

                                        <!-- delete button -->
                                        <a th:href="@{'/user/delete-contact/'+${c.id}}" class="btn fs-5">
                                            <span class="fa fa-trash text-danger"></span>
                                        </a>
                                    </td>

                                </tr>
                            </tbody>

                        </table>

                        <!-- pagination -->
                        <nav aria-label="Page navigation example">

                            <ul class="pagination justify-content-center">

                                <!-- previous page link -->
                                <li th:if="${currentPage != 0}" class="page-item">
                                    <a class="page-link"
                                       th:href="@{'/user/view-contacts/'+ ${currentPage-1}}">Previous</a>
                                </li>

                                <!-- loop from 1 to total number of page -->
                                <li th:each="i:${#numbers.sequence(1,totalPages)}"
                                    th:classappend="${currentPage==i-1?'active':''}" class="page-item">

                                    <!-- link for changing page -->
                                    <a th:text="${i}" class="page-link"
                                       th:href="@{'/user/view-contacts/'+ ${i-1}}"></a>

                                </li>

                                <!-- next page link -->
                                <li th:if="${currentPage+1 != totalPages}" class="page-item">
                                    <a class="page-link" th:href="@{'/user/view-contacts/'+ ${currentPage+1}}">Next</a>
                                </li>

                            </ul>

                        </nav>
                        <!-- end pagination -->

                    </div>
                    <!-- end body -->

                </div>
            </div>

        </section>

    </body>
</html>