body {
    background-color: #e2e2e2 !important;
}

.bg-nav {
    background: #ffff00 !important;
}

.banner {
    width: 100%;
    height: 91vh;
    background: linear-gradient(rgba(102, 102, 0, 0.80),
    rgba(204, 204, 0, 0.80), rgba(255, 255, 20, 0.75)),
    url("../img/bg-home.jpg");
    background-size: contain;
}

.logo {
    width: 60px;
    height: auto;
}

/*sidebar style*/

/*for mobile screen*/
@media only screen and (max-width: 600px) {

    .sidebar {
        display: none;
        background-color: white;
        height: 100%;
        width: 80% !important;
        position: fixed;
        padding-top: 30px;
    }

    .content {
        margin-left: 0% !important;
    }
}

/*end mobile screen*/

.sidebar {
    width: 18%;
    background: white;
    height: 100%;
    position: fixed;
    padding-top: 30px;
}

.sidebar .item {
    display: block;
    width: 100%;
    padding: 10px 25px;
    text-decoration: none;
    color: #90a4ae;
    font-weight: bold;
}

.sidebar .item:hover {
    background-color: #e2e2e2;
}

.sidebar .divider {
    height: .5px;
    width: 100%;
    background-color: #e2e2e2;
    margin-top: 10%;
}

.sidebar .crossBtn {
    font-size: 40px;
    right: 10px;
    top: -15px;
    position: absolute;
    cursor: pointer;
}

/*end sidebar*/

/*content style*/
.content {
    margin-left: 20%;
}

.content .barBtn {
    display: none;
    font-size: 20px;
}

/*end content style*/
