<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

    <head>
        <meta charset="UTF-8">
        <title>Login Page</title>
    </head>

    <body>

        <section class="vh-99">

            <div class="container py-5">
                <div class="row d-flex justify-content-center align-items-center">
                    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                        <div class="card shadow-2-strong" style="border-radius: 1rem;">
                            <div class="card-body p-5 text-center">

                                <!-- login form -->
                                <!--custom action url -->
                                <form th:action="@{/success}" method="post">

                                    <!-- heading -->
                                    <h3 class="mb-3 text-uppercase">Login here</h3>

                                    <!-- error message -->
                                    <div th:if="${param.error}" class="alert alert-danger fw-bold">
                                        Invalid username or password..!!
                                    </div>

                                    <!-- logout message -->
                                    <div th:if="${param.logout}" class="alert alert-success fw-medium">
                                        You have been logged out successfully..!!
                                    </div>

                                    <!-- reset success message -->
                                    <div th:if="${session.msg}" th:classappend="${session.msg.type}"
                                         class="alert alert-dismissible fade show" role="alert">

                                        <strong><span th:text="${session.msg.content}"></span></strong>

                                        <button type="button" class="btn-close"
                                                data-bs-dismiss="alert" aria-label="Close"></button>

                                        <th:block th:text="${@sessionHelper.removeAttribute('msg')}"></th:block>

                                    </div>

                                    <!-- email field -->
                                    <div class="form-outline my-4">
                                        <input type="email" id="email" name="username"
                                               class="form-control form-control-lg" placeholder="Enter email"/>
                                    </div>

                                    <!-- password field -->
                                    <div class="form-outline mb-1">
                                        <input type="password" id="password" name="password"
                                               class="form-control form-control-lg" placeholder="Enter password"/>
                                    </div>

                                    <!-- forgot password button -->
                                    <div class="row text-end mb-3 px-2">

                                        <small>
                                            <a href="/forgot" class="text-primary fw-normal text-decoration-none">
                                                Forgot password?</a>
                                        </small>

                                    </div>

                                    <!-- login button -->
                                    <button class="btn btn-primary btn-lg btn-block form-control" type="submit">Login
                                    </button>

                                </form>

                                <!-- sign up button -->
                                <div>
                                    <p class="mt-4">Don't have an account?
                                        <a href="/signup" class="text-info fw-bold text-decoration-none">Sign Up</a>
                                    </p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>

    </body>

</html>